/*  Fonts  */

@font-face {

    font-family: 'LatoRegular';

    src: url('/mpk/fonts/Lato-Regular.eot');

    src: url('/mpk/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),

         url('/mpk/fonts/lato-regular.woff') format('woff'),

         url('/mpk/fonts/Lato-Regular.ttf') format('truetype'),

         url('/mpk/fonts/Lato-Regular.svg#LatoRegular') format('svg');

    font-weight: normal;

    font-style: normal;



}



@font-face {

    font-family: 'LatoBold';

    src: url('../fonts/Lato-Bold.eot');

    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),

         url('../fonts/lato-bold.woff') format('woff'),

         url('../fonts/lato-bold.ttf') format('truetype'),

         url('../fonts/Lato-Bold.svg#LatoBold') format('svg');

    font-weight: normal;

    font-style: normal;



}



@font-face {

    font-family: 'HoneyLight';

    src: url('../fonts/honeyscript-light-webfont.eot');

    src: url('../fonts/honeyscript-light-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/honeyscript-light-webfont.woff') format('woff'),

         url('../fonts/honeyscript-light-webfont.ttf') format('truetype'),

         url('../fonts/honeyscript-light-webfont.svg#honey_scriptlight') format('svg');

    font-weight: normal;

    font-style: normal;



}

@font-face {

    font-family: 'PT Sans';

    src: url('../fonts/PTC55F.ttf');

    src: url('../fonts/PTC55F.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;



}


@font-face {
  
    font-family: 'Raleway';

    src: url('../fonts/Raleway.ttf');

    src: url('../fonts/Raleway.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;



}

body {

	font-family: 'Raleway';

	font-size: 16px;

}



h2 {

	font-size: 24px!important;

	color: #396D87;

	text-transform: uppercase;

}



h3 {

	font-size: 18px;

	color: #396D87;

}



a {

	color: #396D87 !important;

	text-decoration: underline;

}



/*  Header  */

header{

	width: 100%;

	height: 100px;

	/*background: #8AACEB;*/

	background-color: rgba(57, 109, 135, .5); 

	position: fixed;

	z-index: 9999;

}



header .h_logo{
float: left;
width: 9%;

}



header nav{

	float: right;

	margin-top: 42px;

	overflow: hidden;

}

header nav ul li{

	float: left;

	margin-left: 30px;

}



header nav ul li a{

	text-decoration: none;

	font-family: 'Raleway', 'LatoBold', arial;

	font-weight: bold;

	font-size: 16px;

	color: #fef8f1 !important;

	letter-spacing: 1px;

}



header nav ul li a:hover{

	color: #ffffff;

}









/*  Billboard  */

.billboard{

	width: 100%;

	height: 600px;

	/*background: url('../img/billboard_bg.jpg') no-repeat fixed;*/

	background: url('../img/ngt8.png') no-repeat fixed;	

    background-size: cover;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

}


.caption{

	width: 100%;

	text-align: center;

	position: absolute;

	top: 125px;

}


.caption_without_abs{
	position: static !important;
}



.caption .cap_title{

	font-family: 'LatoBold', arial;

	font-weight: Bold;

	font-size: 40px;

	color:#396D87;

	text-transform: uppercase;

	letter-spacing: 1.5px;

}



.caption .cap_desc{

	font-family: 'HoneyLight';

	font-size: 50px;

	color: #396D87;

	margin-top: 10px;

}

.caption .rozklad {

	width: 80%;

	height: 400px;

	position: absolute;

	top: -20px;

	left: 50%;

	margin: 0 0 0 -40%;

	background: rgba(255, 255, 255, .9);
	
	border-radius: 30px;
	
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

.wyszukaj .caption .rozklad {
	height: auto;
	padding-bottom:30px;
}



.caption .page-title {

	margin: 10px 0 20px;

}



.main{

	height: 50000px;

}

.tramwaje, .autobusy {
	width: 50%;
}

.tramwaje {
	float: left;
}

.autobusy {
	float: right;
}

.tramwaj,
.autobus {
	clear: left;
}

.linia {
	float: left;
    height: 41px;
    line-height: 35px;
    width: 41px;
    font-family: Verdana;
}

.linia a {
	color: black!important;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.tramwaj .linia a:hover {
	color: #0563f5!important;
}

.autobus .linia a:hover {
	color: #c64e72!important;
}

.rozklad_jazdy .billboard {
	height: 1237px;
}

.rozklad_jazdy .caption .rozklad  {
	height: auto;
}

.tramwaj h3,
.autobus h3 {
    border-bottom: 1px solid;
    clear: both;
    float: none;
    margin: 20px 3px 5px;
    padding-top: 15px;
    padding-bottom: 3px;
    font-size: 18px;
}

.tramwaj h3 {
	color: #0563F5;
}

.autobus h3 {
	color: #C64E72;
}

/*  Services  */



.services {

	margin-bottom: 40px!important;

}



.services .S_icons{

	margin-top: -80px;

	padding-left: 64px;

	margin-bottom: 30px;

}



.services hr.sp{

	display: inline-block;

	width: 230px;

	height: 10px;

	border: 0;

	background: url('../img/separator.png') no-repeat;

	margin-bottom: 75px;

	margin-left: -4px;

}



.services img{

	margin-left: -4px;

}



.services .desc{

	width: 100%;

	overflow: hidden;

}



.services .desc li{

	list-style: none;

	float: left;

	width: 235px;

	height: auto;

	text-align: center;

	margin-right: 155px;

}



.services .desc li:first-child{

	margin-left: 22px;

}



.services .desc li:last-child{

	margin-right: 0;

}



.services .desc li h3{

	font-family: 'Raleway', 'LatoBold', arial;

	font-weight: bold;

	font-size: 25px;

	color: #646363;

	margin-bottom: 30px;

}



.services .desc li p{

	font-family: 'Raleway' ,'LatoRegular', arial;

	font-size: 14px;

	color: #7e7e7e;

	line-height: 20px;

}



/*  Footer  */

footer{

	width: 100%;

	padding: 80px 0;

	background-color: #393939;

	text-align: center;

	margin-top: 50px;

	margin-bottom: 20px!important;

}



footer hr.footer_sp{

	width: 370px;

	height: 1px;

	background-color: #333;

	border: none;

	margin: 0 auto;

	margin-bottom: 20px;

}



footer .rights{

	color: #a5a5a5;

	font-family: "LatoRegular", arial;

	font-size: 13px;

	letter-spacing: .5px;

}



/*  General CSS*/

.wrapper{

	width: 1060px;

	height: auto;

	margin: 0 auto;

}





footer nav ul li a,

footer .rights a,

header nav ul li a{

	transition: .2s linear;

	-webkit-transition: .2s linear;

	-moz-transition: .2s linear;

	-o-transition: .2s linear;

}



/* POPUP */



.mfp-fade.mfp-bg {

	opacity: 0.001; /* Chrome opacity transition bug */

	-webkit-transition: all 0.15s ease-out; 

	-moz-transition: all 0.15s ease-out; 

	transition: all 0.15s ease-out;

}

.mfp-fade.mfp-bg.mfp-ready {

	opacity: 0.8;

}

.mfp-fade.mfp-bg.mfp-removing {

	opacity: 0;

}



.mfp-fade.mfp-wrap .mfp-content {

	opacity: 0;

	-webkit-transition: all 0.15s ease-out; 

	-moz-transition: all 0.15s ease-out; 

	transition: all 0.15s ease-out;

}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {

	opacity: 1;

}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {

	opacity: 0;

}

.mfp-content .rozklad-numer-linii {
	margin-top: 30px;
}

.mfp-content li.przystanek-koniec {
	color: blue;
}

/* KONTAKT  */

#formularz {
        width:400px;
        height: 250px;
        margin:0 auto; 
        background-color: inherit;
        border:2px solid #396d87; 
        border-radius:10px;
		padding:20px; 
        margin-top:20px;
}

#formularz textarea,
#formularz input,
input.szukaj,
input#input-time {
	padding:5px;
	border-radius:3px;
	border:1px solid #396d87;
	margin-bottom:25px;
	width:385px;
	font-family: 'Raleway';
}

input#input-time {
	font-family: 'PT Sans';
	width: 200px;
	text-align: center;
	font-size: 16px;
}


form.wyszukiwarka {
	width: 370px;
	margin: 0 auto;
}

input.szukaj {
	width: 300px;
}

input.przycisk {
	cursor: pointer;
	background-color: #3498db;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	color: white;
	border: #fbfbfb solid 1px;
	margin-bottom: 25px;
	padding: 5px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input.przycisk:hover {
	color: #3498db;
	background-color: white;
	border: 1px solid #3498db;
}

#formularz textarea {
	height: 80px;
	resize: none;
	font-size: 13.3333px;
}

#button-blue{
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	width: 395px!important;
	height: 40px;
	border: #fbfbfb solid 4px;
	cursor: pointer;
	background-color: #3498db;
	color: white;
	font-size: 18px;
	padding-top: 22px;
	padding-bottom: 22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  	margin-top: -4px;
  	font-weight: 700;
}

#button-blue:hover{
  	background-color: rgba(0,0,0,0);
  	color: #0493bd;
}

.submit:hover {
  	color: #3498db;
}

.ease {
  	width: 0px;
  	height: 5px;
  	background-color: #fbfbfb;
  	-webkit-transition: .3s ease;
  	-moz-transition: .3s ease;
  	-o-transition: .3s ease;
  	-ms-transition: .3s ease;
  	transition: .3s ease;
}

.submit:hover .ease{
  	width: 395px;
  	background-color:white;
}

.ulubione-tytul {
	background: rgba(255, 255, 255, 0.9);
	width: 680px;
	margin: auto;
	padding: 10px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 30px;
	-moz-top-left-radius: 30px;
	-moz-top-right-radius: 30px;
}

.ulubione table {
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.9);
	/*height: 290px;*/
	width: 700px;

}

.ulubione table td {
	width: auto;
	padding: 10px;
	vertical-align: middle;
}

	
.ulubione table tr.odd {
	background: rgba(68,141,242, 0.5);
	
}

.ulubione table tr.even {
	background: rgba(115,170,245, 0.5);
}


.ulubione table td.tabelaLabel {
	font-weight: bold;
}

.ulubione-godzina {
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.9);
	width: 680px;
	padding: 10px;
}

.data,
.czas {
	font-family: 'PT Sans';
	font-size: 18px;
	font-weight: bold;
	color: #396D87;
}

.wyszukaj-przystanki {
	width: auto;
	margin: 0 auto;
}

.wyszukaj input.przycisk {
	width: 310px;
	height: 50px;
	font-weight: bold;
	background-image: url('../img/search_bialy.png');
	background-position: left 75px center;
	background-repeat: no-repeat;
}

.wyszukaj input.przycisk:hover {
	background-image: url('../img/search_niebieski.png');
	background-position: left 75px center;
	background-repeat: no-repeat;
}  

.wyszukaj .billboard {
	height: 1025px;
}

.wyszukaj table.wyszukaj-tabela {
	width: auto;
	margin: 0 auto;
}

.czas {
	position: relative;
}

a.wTyl.btn.btn-subtract {
	background: url('../img/karuzela_left.png') no-repeat;
	background-color: inherit;
	position: absolute;
	left: 58px;
	transition: left 0.3s ease;
    -webkit-transition: left 0.3s ease;
}

a.wTyl.btn.btn-subtract:hover {
	left: 55px;
}

a.doPrzodu.btn.btn-add {
	background: url('../img/karuzela_right.png') no-repeat;
	background-color: inherit;
	position: absolute;
	right: 58px;
	transition: right 0.3s ease;
    -webkit-transition: right 0.3s ease;
}

a.doPrzodu.btn.btn-add:hover {
	right: 55px;
}

a.wTyl.btn.btn-subtract,
a.doPrzodu.btn.btn-add {
	font-size: 0;
	display: inline-block;
    overflow: hidden;
    height: 33px;
    padding-left: 10px;
}

.wyszukaj .wyniki {
	width: 400px;
	margin: 0 auto;
}

.wyszukaj .wyniki .z,
.wyszukaj .wyniki .do {
	width: 25px;
	height: 25px;
	float: left;
}

.wyszukaj .wyniki .z {
	background-image: url('../img/wyszukaj-z.png');
	background-repeat: no-repeat;
}

.z,.do{
	width: 25px;
	height: 25px;
	background-image: url('../img/wyszukaj-z.png');
	background-repeat: no-repeat;
}
/*.polaczenie tr td {border: 1px solid black !important;}*/

.polaczenie{
	width:400px;
	margin-top: 10px !important;
	margin: auto;
	border-collapse: inherit;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: rgba(186,213,250,0.5);
	font-size:16px;
	
	
}
 .start, .cel, .gwiazdka{
width:265px;  
float:left;
margin-top: 15px;
}

.trasa{
width: 804px;
float: left;
height: 50px;
background-color: #3498db;
font-family: 'Raleway', Arial, Helvetica, sans-serif;
color: white;
-webkit-border-top-left-radius: 15px;
-webkit-border-top-right-radius: 15px;
-moz-border-radius-topleft: 15px;
-moz-border-radius-topright: 15px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
	display: inline;
}

.wyniki_wysz{
	margin: auto;
	width: 800px;
}

.wyniki_tab {
border: 2px solid #3498db;
font-family: 'Raleway', Arial, Helvetica, sans-serif;
-webkit-border-bottom-right-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-bottomright: 15px;
-moz-border-radius-bottomleft: 15px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
float: left;
}

.wyniki_tab table{
margin:10px auto;
width: 800px;
color: #110968;

}

.wyniki_tab table tr td, .wyniki_tab table tr th{
	padding:10px;
}


.wyniki_tab table tr td a{
	text-decoration:none;
}

.wyniki_tab table tr {
	border-bottom: 1px dotted #3498db;
}

.border_end{
	border-bottom:0px!important;
}

.przesiadz{
	margin-top: 10px;
	color: #c0bbf9;
	font-weight: bold;
}

.przystanek{
	margin-top:30px;
	display: block;
	width: 100%!important;
	border: none!important;
}

.liniaa{
	height:30px;
	font-size:25px;
	font-weight:bold;
	background-color:rgba(234,242,253,0.7);
	
}

.liniaa td, .polaczenie tr td{
	display:table-cell;
    vertical-align:middle;
}

.do{
	background-image: url('../img/wyszukaj-do.png');
	background-repeat: no-repeat;
}

.wyszukaj .wyniki .do {
	background-image: url('../img/wyszukaj-do.png');
	background-repeat: no-repeat;
}

.wyszukaj .wyniki .nazwaPrzystanku {
	line-height: 24px;
	width: 200px;
	float: left;
}

.wyszukaj .wyniki .czasPrzystanek {
	line-height: 24px;
}

.wyszukaj .wyniki .przesiadkaLabel {
	margin-bottom: 10px;
	color: #828DFF;
	font-weight: bold;
}

.wyszukaj .wyniki .czasPrzejazdu {
	margin: 2px 38px;
}

.wyszukaj .wyniki .numerLinii {
	border: 1px solid white;
	background-color: #3498db;
	padding: 5px 7px;
	width: 50px;
	margin: 0 auto;
}

.wyszukaj .wyniki .czasPodrozy {
	float: right;
}

.rozklad-numer {
	
	width: 100%;
}

.rozklad-numer-linii {
	background-color: #3498db;
    color: white;
    font-size: 60px;
    height: 70px;
    text-align: center;
    width: 95%;
    margin: auto;
	position:relative;
}

.opis-numer-linii{
	font-size: 20px;
	color: #3498db;
	height: 20px;
	text-align: center;
	margin: 10px auto;
}

.lista-przystankow { 
	margin-left: 50px;
	width: 290px;
	margin-bottom: 50px;
	float: left;
}

.lista-przystankow ul li{
	list-style: none;
	padding: 5px 0;
}

.lista-przystankow ul li a, .zmiana-trasy a{
	text-decoration: none;
}

.rozklad-tablica {
	margin-right: 20px;
	margin-bottom: 10px;
	float: left;
}

table.rozklad-jazdy th.hour,
table.rozklad-jazdy td.min {
	font-family: 'PT Sans';
	padding: 5px 0;
}

table.rozklad-jazdy th.hour {
	width: 20px;
	border: 1px solid black;
	text-align: center;
	background-color: #3498db;
	font-weight: bold;
	color: white;
}

table.rozklad-jazdy td.min {
	width: auto;
	border: 1px solid black;
	padding: 7px 10px;
}

.gray a, .gray, .min i {
	color: #808080 !important;
	font-style: italic;
}

.min b{
	padding: 3px;
	background-color: #3498db;
	color: white;
}

.przystanek-kierunek {
	text-align:center;
}

h3.kierunek {
	padding: 5px 0;
	font-size: 50px;
	text-align: center;
	margin: 50px;
}

a.kierunek-nazwa{
	padding-bottom:5px;
	font-size: 25px;
	text-decoration: none;
}
a.kierunek-nazwa:hover{
	
	text-decoration: underline;
}

.przystanek-kierunek p{
	margin-bottom: 15px;
}

.ui-widget-content {
	overflow: scroll !important;
	height: 200px;
	font-size: 12px;
}

.zmiana-trasy{
	margin-bottom: 20px;
	font-size: 12px;
	text-align: center;
}

.gwiazdka {
	height: 35px;
	margin-top: 5px;
	background: url("../img/gwiazdka.png") no-repeat center center;
}

.gwiazdka:hover { 
	background: url("../img/gwiazdka_ulub.png") no-repeat center center;
}

.wykaz {
	width: 700px;
	margin: 0 auto;
}

.route_sum_row td.name {
	font-family: 'PT Sans';
	width: 125px;
	color:#3498db;
	font-weight:bold;
}

.route_sum_row {
	float: left;
	clear: left;
    margin: 10px 0;
}

.route_desc {
    float: right;
    font-family: "PT Sans";
    font-size: 14px;
    margin: 10px 0;
    width: 300px;
}

.route_desc +div{
    float: left;
    font-family: "PT Sans";
    font-size: 14px;
    margin: 10px 0;
    width: 300px;
}

.line_name {
    background-color: #3498db;
    font-size: 18px;
    color: white;
    display: block;
    margin-left: 45px;
    padding: 5px 3px;
    width: 30px;
}

.time {
    color: #3498db;
    font-family: "pt sans";
    font-size: 14px;
    vertical-align: middle;
    width: 65px;
}

.time_light,
.route_desc_ride td.icon {
	display: none;
}

.wyszukaj .page-title > div {
    float: left;
    margin-left: 10px;
	margin-bottom:10px;
width: 32%;
	border: 1px dotted #858585;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

td.icon + td.name{
font-size:12px;
margin:5px 0;
font-style:italic;
display: block;
}

.name img{
	display:none;
}

.veh_icon{
	display: inline-block!important;
	margin-top:5px;
}

.route_desc_ride table{
	width:100%;
}

.alert{
float: left;
padding: 30px 0;
width: 100%;
background-color:rgba(219,52,69,0.5);
text-align: center;

}

.gwiazdka_new {
	height: 35px;
	position:absolute;
	width:50px;
	font-size:0;
	top: 15px;
	background: url("../img/gwiazdka.png") no-repeat center center;
}

.gwiazdka_new:hover,.gwiazdka_new.active { 
	background: url("../img/gwiazdka_ulub.png") no-repeat center center;
}
/*=====================================*/

/*.colapse tr {
 display: none;
}
.colapse tr:first-child , tr:last-child {
 display: table-row;
}
*/

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {

  background-color: #B0E2FF;
  border-radius: 7px;
  top: 240px !important;
  left: 20px;
  width: 10% !important;
  font-size: 16px;
  font-family: 'Raleway';
  background-color: #3498db;
  text-align: center !important;
  padding-right: 0px !important;
	
}

.route_desc_ride td.icon {
    display: table-cell;
}